name: Sync dev to main

on:
  workflow_dispatch:
  push:
    branches:
      - dev

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout dev
        uses: actions/checkout@v4
        with:
          ref: dev
          path: dev
      - name: Setup Node.js 24 (no npm project)
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Install dependency
        run: npm install fast-glob fs-extra

        
      - name: Checkout dev
        uses: actions/checkout@v4
        with:
          ref: main
          path: main

      - name: Sync and commit files
        run: node dev/.github/workflows/sync.ts
